<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.peluqueria_app">
<uses-feature android:name="android.hardware.Sensor.acelerometer" android:required="true"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_barber"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeluqueriaApp">
        <activity
            android:name=".ui.views.FinishActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.ConfirmCodeActivity"
            android:exported="true"
            android:parentActivityName=".ui.views.RegisterActivity" />
        <activity
            android:name=".ui.views.RegisterActivity"
            android:exported="true"
            android:parentActivityName=".ui.views.LoginActivity" />
        <activity
            android:name=".ui.views.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.LoginMailActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ManifestOrder,ProtectedPermissions"/>

</manifest>